body {
  background-color: #F9FAFB;
}
/* 
* {
  border: 1px solid red;
} */

main {
  position: relative;
}

.home-banner {
  height: 400px;
  width: 100%;
  background-color: #3C91E6;
  clip-path: ellipse(100% 95% at 2% 5%);
  position: absolute;
  z-index: -1;
}

.home-banner-overlay {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
}

.home-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-banner-text h1 {
  font-size: 4rem;
  color: #F9FAFB;
}

.home-banner-text h4 {
  color: #F9FAFB;
}

.ask-for-quotation {
  width: 300px;
}

.about-us-image {
  height: 500px;
  border-radius: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img:first-child {
  position: absolute;
  top: 0px;
  left: 30px;
}

.img-container img:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 110px;
}

.img-container img:nth-child(3) {
  position: absolute;
  top: 100px;
  left: 70px;
}

.navbar {
  background-color: #3C91E6;
}

.navbar .nav-link {
  color: white; //#F4C95D
}

.navbar-toggler {
  border: 1px solid #fff !important;
}

footer {
  background-color: #3C91E6;
  color: white;
  padding: 20px 0;
  margin-top: 50px;
}

footer .btn {
  color: white;
}

@media (max-width: 767px) {
  .product-list-wrapper {
    justify-content: space-between;
    gap: 8px;
  }

  #contact-us {
    width: 100%;
  }

  #large-banner-logo {
    display: none;
  }

  #about-us {
    margin-top: 100px;
  }

  .home-banner-text {
    padding-top: 70px;
  }

  body {
    min-width: 200px;
  }

  footer > section > .row > div {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  #large-banner-logo {
    height: 200px;
  }

  #large-banner-logo img {
    height: 100%
  }

  .home-banner-text {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  #large-banner-logo {
    height: 100%;
  }

  .product-list-wrapper {
    justify-content: space-evenly;
    gap: 8px;
  }

  #contact-us {
    max-width: 992px;
  }
  
  #large-banner-logo img {
    height: 80%
  }

  #about-us {
    margin: none;
  }
}