body {
  background-color: #F9FAFB;
}

.home-banner {
  height: 400px;
  width: 100%;
  background-color: #1E2A38;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img:first-child {
  position: absolute;
  top: 0px;
  left: 30px;
}

.img-container img:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 110px;
}

.img-container img:nth-child(3) {
  position: absolute;
  top: 100px;
  left: 70px;
}

.navbar {
  background-color: #3C91E6;
}

.navbar .nav-link {
  color: #F4C95D;
}

.navbar .navbar-toggler {
  background-color: white;
}